

.carrusel-img {
    display: flex;
    width: 100% !important;
    max-height: 55vh !important;
}

.logo{
    background: url('../images/logo.svg');
    width: 70vh;
    height: 14vh;
    background-repeat: no-repeat;
}
